<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div>
        <h1 th:text="${usersCount}"></h1>
        <a href="adduser">Add user</a>
        <h2>Stored users</h2>
        <th:block th:each="user : ${users}">
            <div th:object="${user}">
                <p th:text="*{FirstName + ' ' + LastName}"></p>
                <button type="button" th:onclick="|window.location.href='@{/edituser?id=}*{Id}'|">Edit</button>
                <button style="background-color: red; color: white;" type="button" th:onclick="|window.location.href='@{/removeuser?id=}*{Id}'|">Remove</button>
            </div>
        </th:block>
    </div>
</body>
</html>